<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>fysiohardloopcoach.nl</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
  <!--[if IE]>
  <link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#4DBA87">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="fysiohardloopcoach.nl">
  <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon-152x152.png">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage" content="/static/img/icons/msapplication-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <% for (var chunk of webpack.chunks) {
  for (var file of chunk.files) {
  if (file.match(/\.(js|css)$/)) { %>
  <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>"
        as="<%= file.match(/\.css$/)?'style':'script' %>">
  <% }}} %>
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
        type="text/css"/>
  <link href="static/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
  <link href="static/global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/>
  <link href="static/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="static/global/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" type="text/css"/>
  <!-- END GLOBAL MANDATORY STYLES -->
  <!-- BEGIN THEME GLOBAL STYLES -->
  <!--<link href="static/global/css/components.css" rel="stylesheet" id="style_components" type="text/css"/>-->
  <link href="static/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
  <link href="static/global/css/plugins.css" rel="stylesheet" type="text/css"/>
  <link href="static/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
  <!-- END THEME GLOBAL STYLES -->
  <!-- BEGIN THEME LAYOUT STYLES -->
  <link href="static/layouts/layout2/css/layout.css" rel="stylesheet" type="text/css"/>
  <link href="static/layouts/layout2/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
  <link href="static/layouts/layout2/css/custom.css" rel="stylesheet" type="text/css"/>
  <!-- END THEME LAYOUT STYLES -->

  <!-- BEGIN OTHER PAGES LEVEL STYLES -->
  <link href="static/pages/css/login.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="static/global/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="static/global/plugins/select2/css/select2-bootstrap.min.css">
  <!-- END OTHER PAGES LEVEL STYLES -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">

<!-- <body class="page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed"> -->
<noscript>
  This is your fallback content in case JavaScript fails to load.
</noscript>
<div id="app"></div>
<!-- Todo: only include in production -->
<%= htmlWebpackPlugin.options.serviceWorkerLoader %>
<!-- built files will be auto injected -->

<!-- BEGIN CORE PLUGINS -->
<script src="static/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="static/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="static/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="static/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="static/global/plugins/bootstrap-growl/jquery.bootstrap-growl.js" type="text/javascript"></script>
<script src="static/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="static/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="static/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="static/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<!--<script src="static/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>-->
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="static/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="static/pages/scripts/dashboard.js" type="text/javascript"></script>
<script src="static/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="static/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
<script src="static/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
<script src="static/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="static/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->

<!-- BEGIN ADDITIONAL PLUGINS -->
<script src="static/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script src="static/global/plugins/jquery-validation/js/additional-methods.js"></script>
<script src="static/global/plugins/jquery-validation/js/localization/messages_nl.js"></script>
<!-- END ADDITIONAL PLUGINS -->
</body>

</html>
