<template>
  <section class="login" style="background-color: inherit !important;">
    <!-- BEGIN LOGO -->
    <div class="logo">
      <a href="index.html">
        <img src="static/pages/img/logo-big.png" alt="" /> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
      <!-- BEGIN LOGIN FORM -->
      <form class="login-form">
        <h3 class="form-title font-green"><i class="glyphicon glyphicon-ok"></i>&nbsp; Your email is verified!</h3>
        <div class=" text-center">
          <button type="button" class="btn green uppercase" @click="login">Continue with Sign in</button>
        </div>
      </form>
      <!-- END LOGIN FORM -->
    </div>

    <div class="copyright"> {{new Date().getFullYear()}} © Fysiohardloopcoach.nl </div>

  </section>
</template>

<script>
  export default {
    name: 'email-verified',
    mounted() {

    }
  }
</script>
