<template>
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="portlet box blue-hoki">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-home"></i>Index page
            </div>
          </div>
          <div class="portlet-body">
            <button class="btn btn-primary" @click="login">Login</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>

  export default {}
</script>
