<template>
  <div>
  </div>
</template>

<script>
  import {mapState, mapActions, mapMutations} from 'vuex'

  export default {
    created() {
      this.login();
    },
    beforeRouteEnter(to, from, next) {
      // called before the route that renders this component is confirmed.
      // does NOT have access to `this` component instance,
      // because it has not been created yet when this guard is called!
      next(({authenticated, $store}) => {
        if (authenticated()) {
          if ($store.getters.isAdmin) {
//            $store.getters.router.replace({name: 'AdminDashboard'});
          } else {
//            $store.getters.router.replace({name: 'UserDashboard'});
          }
        } else {
          next();
        }
      });
    }
  }
</script>
