<template>
  <div></div>
</template>

<script>
  //import { mapState, mapActions, mapMutations } from 'vuex';

  export default {
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.logout();
        next({name: 'IndexPage'})
      })
    }
  }
</script>
