<template>
  <div class="progress">
    <div class="progress-bar active"
         role="progressbar"
         :aria-valuenow="totalUploadProgress"
         aria-valuemin="0"
         aria-valuemax="100"
         :style="{width: totalUploadProgress + '%'}">
      <span class="sr-only">{{totalUploadProgress}}% Complete</span>
    </div>
  </div>
</template>
<script>
  import {mapGetter, mapState} from 'vuex'
  export default {
    name: 'progress-bar',
    props: ['totalUploadProgress']
  }
</script>
