<template>
  <section>
    <user-header :profile="profile"></user-header>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
      <user-sidebar></user-sidebar>
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
          <router-view></router-view>
        </div>
        <!-- END CONTENT BODY -->
      </div>
      <!-- END CONTENT -->

      <user-quick-sidebar></user-quick-sidebar>
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer"></div>
    <!-- END FOOTER -->
  </section>
</template>

<script>
  import UserHeader from './UserHeader';
  import UserSidebar from './UserSidebar';
  import UserQuickSidebar from './UserQuickSidebar';
  import {mapState, mapActions, mapMutations, mapGetters} from 'vuex';


  export default {
    components: {
      UserHeader,
      UserSidebar,
      UserQuickSidebar
    },
    created() {
      this.$store.dispatch('getUser');
    },
    computed: mapState(['profile']),
    beforeRouteEnter(to, from, next) {
      next(({$store}) => {
        const getters = $store.getters;
        if (!getters.isAdmin) {
          next();
        } else {
          next({name: 'AdminDashboard'})
        }
      });
    }
  }
</script>


