<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
  import {mapState, mapActions, mapMutations} from 'vuex'
  import gql from 'graphql-tag'
  import router from './router'
  import auth0 from 'auth0-js';
  import auth0Config from '../config/auth0';

  export default {
    name: 'app',

    mounted() {
      this.$store.dispatch('onAuthentication', {lock: this.lock});
      this.$store.dispatch('onAuthenticationError', {lock: this.lock});
      if (this.authenticated()) {
        if (!this.$store.getters.profile.user_metadata.onBoardingCompleted) {
          this.$store.getters.router.replace({name: 'UserOnboarding'});
        }
      }
    }
  }
</script>
