<template>
  <section>
    <h1 class="page-title"> Admin Dashboard
      <small>statistics, charts, recent events and reports</small>
    </h1>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="index.html">Home</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <span>Dashboard</span>
        </li>
      </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="note note-info">
      <p> A black page template with a minimal dependency assets to use as a base for any custom page you create </p>
    </div>
  </section>
</template>
<script>
  import {mapState, mapGetters} from 'vuex';

  export default {
    created() {

    },
    methods: {}
  }
</script>

