<template>
  <section>
    <!-- BEGIN PAGE HEADER-->
    <h1 class="page-title"> User Profile </h1>
    <!-- END PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
          <!-- PORTLET MAIN -->
          <div class="portlet light profile-sidebar-portlet ">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
              <img :src="profile.user_metadata.picture || profile.picture" class="img-responsive" alt="">
              <div class="text-center">
                <p class="fileinput fileinput-new" data-provides="fileinput">
                  <span class="btn btn-default btn-xs btn-file"><span class="fileinput-new">Upload photo</span><span
                    class="fileinput-exists">Change</span><input type="file" name="..." @change="onFileChange"></span>
                  <span class="fileinput-filename"></span>
                  <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none"
                     @click="onFileCancel">&times;</a>
                </p>
              </div>
            </div>

            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name"> {{profile.user_metadata.firstname}} {{profile.user_metadata.lastname}} </div>
              <!-- <div class="profile-usertitle-job"> Developer </div> -->
            </div>

            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <!-- <div class="profile-userbuttons">
                      <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                      <button type="button" class="btn btn-circle red btn-sm">Message</button>
                    </div> -->
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
              <ul class="nav">
                <!-- <li>
                          <a href="page_user_profile_1.html">
                            <i class="icon-home"></i> Overview </a>
                        </li> -->
                <li class="active">
                  <a href="javascript: void('');">
                    <i class="icon-settings"></i> Account Settings </a>
                </li>
                <!-- <li>
                          <a href="page_user_profile_1_help.html">
                            <i class="icon-info"></i> Help </a>
                        </li> -->
              </ul>
            </div>
            <!-- END MENU -->
          </div>
          <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
          <div class="row">
            <div class="col-md-12">
              <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                  <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                  </div>
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                    </li>
                  </ul>
                </div>
                <div class="portlet-body">
                  <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                      <form ref="form">
                        <div class="form-group">
                          <label class="control-label">First Name</label>
                          <input name="firstname" class="form-control" v-model="formData.firstname" required/>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Last Name</label>
                          <input name="lastname" placeholder="Doe" class="form-control" v-model="formData.lastname"
                                 required/></div>
                        <div class="form-group">
                          <label class="control-label">Phone Number</label>
                          <input name="phone_number" pattern="[0-9]+" placeholder="+1 646 580 DEMO (6284)"
                                 class="form-control" v-model="formData.phone_number"
                          /></div>
                        <div class="margiv-top-10">
                          <a href="javascript:;" class="btn green" @click="updateUserMetadata(formData)">
                            Save Changes </a>
                          <!--<a href="javascript:;" class="btn default"> Cancel </a>-->
                        </div>
                      </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END PROFILE CONTENT -->
      </div>
    </div>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="static/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="static/pages/css/profile.min.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
  </section>
</template>
<script>
  import {mapGetters, mapActions, mapState} from 'vuex'
  import axios from 'axios'

  export default {
    data() {
      return {
        formData: this.$store.getters.profile.user_metadata || {},
        file: null
      }
    },
    mounted() {
      this.form = $(this.$refs.form).validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block help-block-error', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "", // validate all fields including form hidden input
        rules: {
          fistname: {
            required: true
          },
          lastname: {
            required: true
          },
          phone_number: {
            number: true
          }
        },
        messages: {
          phone_number: 'Must be phone number'
        },
        highlight: function (element) { // hightlight error inputs
          $(element)
            .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
        },
        unhighlight: function (element) { // revert the change done by hightlight
          $(element)
            .closest('.form-group').removeClass('has-error'); // set error class to the control group
        },
      });

    },
    computed: {
      ...mapState(['profile'])
    },
    methods: {
      updateUserMetadata(usermeta) {
        if (this.form.valid()) {
          if (this.file) {
            let data = new FormData();
            data.append('data', this.file);
            axios.post(`${this.graphcoolConfig.fileApiUrl}`, data, {
              headers: {
                'Content-Type': 'multipart/form-data',
              },
              onUploadProgress: function (progressEvent) {
                let percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
              }
            }).then(({data}) => {
              usermeta = Object.assign(usermeta, {picture: data.url});
              this.$store.dispatch('updateUserMetadata', usermeta)
                .then(() => {
                  $('[data-dismiss="fileinput"]').trigger('click');
                  this.displaySuccessUpdateMessage();
                })
                .catch(this.displayErrorUpdateMessage);
            });
          } else {
            this.$store.dispatch('updateUserMetadata', usermeta)
              .then(this.displaySuccessUpdateMessage)
              .catch(this.displayErrorUpdateMessage)
          }
        }
      },
      displaySuccessUpdateMessage() {
        $.bootstrapGrowl('User profile updated', {type: 'success'});
      },
      displayErrorUpdateMessage(err) {
        $.bootstrapGrowl(err.description, {type: 'success'});
      },
      onFileChange(event) {
        this.file = event.target.files[0];
      },
      onFileCancel() {
        this.file = null;
      }
    }
  }
</script>
