<template>
  <section>
    <div class="row" v-show="upload.fileAdded">
      <div class="col-md-10">
        <progress-bar :totalUploadProgress="upload.totalUploadProgress"></progress-bar>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" :disabled="!upload.uploadSuccess" @click="publishVideo(formData)">
          Publish
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-12 col-sm-6">
        <dropzone id="myVueDropzone" ref="dropzone"
                  v-bind:url="graphcoolConfig.fileApiUrl"
                  v-on:vdropzone-success="dropzoneSuccess"
                  v-on:vdropzone-files-added="dropZoneFilesAdded"
                  v-on:vdropzone-total-upload-progress="dropZoneTotalUploadProgress"
                  v-on:vdropzone-removed-file="resetFormData"
                  v-bind:autoProcessQueue="true"
                  v-bind:maxFileSizeInMB="600"
                  v-bind:maxNumberOfFiles="1"
                  v-bind:headers="headers"
                  v-bind:paramName="'data'">
        </dropzone>
      </div>
      <div class="col-md-9 col-xs-12 col-sm-6">
        <div class="portlet light ">
          <div class="portlet-title tabbable-line">
            <div class="caption">
              <i class="icon-info font-dark"></i>
              <span class="caption-subject font-dark bold ">Upload video</span>
            </div>
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#portlet_tab1" data-toggle="tab" aria-expanded="false"> Basic info </a>
              </li>
              <li class="" v-if="formData.videoType === 'INSTRUCTION'">
                <a href="#portlet_tab2" data-toggle="tab" aria-expanded="false"> Annotations </a>
              </li>
            </ul>
          </div>
          <div class="portlet-body">
            <div class="tab-content">
              <div class="tab-pane active" id="portlet_tab1">
                <form-admin-upload :formData="formData"></form-admin-upload>
              </div>
              <div class="tab-pane" id="portlet_tab2">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo. </p>
                <p>
                  <a class="btn red" href="ui_tabs_accordions_navs.html#portlet_tab2" target="_blank">
                    Activate this tab via URL </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  import Dropzone from 'vue2-dropzone'
  import axios from 'axios';
  import ProgressBar from "../ProgressBar.vue";
  import {mapState, mapGetters, mapActions} from "vuex";
  import FormAdminUpload from "./FormAdminUpload.vue";

  const defaultFormData = {
    videoType: 'INSTRUCTION',
    title: '',
    description: '',
    client: null,
  };
  const defaultUpload = {
    uploadSuccess: false,
    fileAdded: false,
    totalUploadProgress: 0
  };

  export default {
    components: {
      FormAdminUpload,
      ProgressBar,
      Dropzone,
    },
    data() {
      return {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('idToken'),
        },
        formData: Object.assign({}, defaultFormData),
        upload: Object.assign({}, defaultUpload)
      }
    },
    computed: {},
    methods: {
      publishVideo(formData) {
        this.$store.dispatch('publishVideo', formData)
          .then(x => {
            $.bootstrapGrowl('Video Uploaded', {type: 'success'});
            this.resetFormData();
          });
      },
      resetFormData() {
        this.formData = Object.assign({}, defaultFormData);
        this.upload = Object.assign({}, defaultUpload);
        this.$refs.dropzone.removeAllFiles();
      },
      dropzoneSuccess(files, data) {
        this.upload.uploadSuccess = true;
        this.formData.file = JSON.parse(data);
      },
      dropZoneFilesAdded(files) {
        this.upload.fileAdded = true;
        this.formData.title = files[0].name;
        setTimeout(() => {
          $(this.$refs.title).focus();
        }, 0);
      },
      dropZoneTotalUploadProgress(totaluploadprogress, totalBytes, totalBytesSent) {
        this.upload.totalUploadProgress = totaluploadprogress;
      }
    }
  }
</script>
