<template>
  <section>
    <admin-header :profile="profile"></admin-header>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
      <admin-sidebar></admin-sidebar>
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
          <router-view></router-view>
        </div>
        <!-- END CONTENT BODY -->
      </div>
      <!-- END CONTENT -->

      <admin-quick-sidebar></admin-quick-sidebar>
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
      <div class="page-footer-inner"> {{new Date().getFullYear()}} &copy; Fysiohardloopcoach by&nbsp;
        <a target="_blank" href="htts://www.theuy.nl">Theuy B.V.</a>
        <div class="scroll-to-top">
          <i class="icon-arrow-up"></i>
        </div>
      </div>
    </div>
    <!-- END FOOTER -->
  </section>
</template>

<script>
  import AdminHeader from './AdminHeader';
  import AdminSidebar from './AdminSidebar';
  import AdminQuickSidebar from './AdminQuickSidebar';
  import {mapState, mapActions, mapMutations, mapGetters} from 'vuex';

  export default {
    components: {
      AdminHeader,
      AdminSidebar,
      AdminQuickSidebar
    },
    created() {
      this.$store.dispatch('getUser');
    },
    computed: mapState(['profile']),
    beforeRouteEnter(to, from, next) {
      next(({$store}) => {
        const getters = $store.getters;
        if (getters.isAdmin) {
          next();
        } else {
          next({name: 'UserDashboard'})
        }
      });
    }
  }
</script>


