<template>
  <form class="row">
    <div class="col-md-12">
      <div class="panel panel-light">
        {{formData}}
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <label>Title</label>
        <input type="text" ref="title" class="form-control" v-model="formData.title">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea name="" id="" cols="30" rows="10" class="form-control" v-model="formData.description"></textarea>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="form-group">
          <label>Category</label>
          <select class="form-control" v-model="formData.videoType">
            <option value="INSTRUCTION" selected>Instruction video</option>
            <option value="INTAKE">Intake video</option>
          </select>
        </div>
        <div class="form-group">
          <label>Client</label>
          <select class="form-control select2" ref="select" v-model="formData.client">
            <!-- @todo LIST OF EXISTING CLIENTS -->
            <!--<option disabled value="Client you want to upload for">Client you want to upload for</option>-->
            <option></option>
            <option v-for="client in clients" v-bind:value="client.id">
              {{client.auth0Profile.user_metadata.firstname}} {{client.auth0Profile.user_metadata.lastname}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  import {mapState} from 'vuex';

  export default {
    name: 'form-admin-upload',
    props: ['formData'],
    created() {
      this.$store.dispatch('allClientUsers');
      this.formData.client = 'Client you want to upload for';
    },
    mounted() {
      $(this.$refs.select).select2({
        placeholder: 'Select a client',
        allowClear: true
      })
        .on('select2:select', (evt) => this.formData.client = evt.target.value)
        .val(this.formData.client)
        .trigger('change')
        .on('change',  () => {
          this.$emit('input', this.formData.client)
        })
    },
    watch: {
      formData({client}) {
        $(this.$refs.select).val(client).trigger('change');
      }
    },
    computed: {
      ...mapState(['clients'])
    }
  }
</script>
