<template>
  <div>

    <!-- Modal -->
    <div class="modal fade" ref="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <form v-on:submit.prevent="savePersonalDetails(model)" ref="form">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Finish setting up your account</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <div v-if="profile.picture">
                    <img :src="profile.picture" class="img-circle img-responsive" alt="">
                  </div>
                  <div v-else>
                    <img src="static/img/user-placeholder.png" class="img-circle img-responsive" alt="">
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="form-group">
                    <input class="form-control" placeholder="Firstname" v-model="model.firstname" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="Lastname" v-model="model.lastname" required>
                  </div>
                  <div class="form-group">
                    <div class="input-icon">
                      <i class="glyphicon glyphicon-phone"></i>
                      <input class="form-control" placeholder="Phone number" v-model="model.phone_number">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-icon">
                      <i class="glyphicon glyphicon-envelope"></i>
                      <input class="form-control" placeholder="Your email" v-model="profile.email" disabled>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary animated fadeIn" v-if="requiredFields">Save changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</template>
<script>
  import {mapGetters, mapActions, mapState} from 'vuex';

  export default {
    name: 'PersonalDetails',
    mounted() {
      $(this.$refs.modal).modal({backdrop: 'static'});
      $(this.$refs.form).validate();
    },
    data() {
      return {
        model: {
          firstname: '',
          lastname: '',
          phone_number: ''
        }
      }
    },
    methods: {
      savePersonalDetails(model) {
        const getters = this.$store.getters;
        const usermeta = {
          firstname: model.firstname,
          lastname: model.lastname,
          phone_number: model.phone_number,
          onBoardingCompleted: true,
        };
        this.$store.dispatch('updateUserMetadata', usermeta).then((res) => {
          $(this.$refs.modal).modal('hide');
          setTimeout(() => {
            getters.router.go('/');
          }, 500);
        });
      }
    },
    created() {
      this.model.firstname = this.profile.given_name || '';
      this.model.lastname = this.profile.family_name || '';
    },
    computed: {
      requiredFields() {
        return this.model.firstname.length > 0 && this.model.lastname.length > 0;
      },
      ...mapState(['profile'])
    }
  }
</script>
